mixin founders(data, modifier)
  .founders(class=modifier)
    .container
      .founders__row
        if (data.photo)
          .founders__illustration
            .founders__photo
              img.founders__img(src=data.photo.src width=data.photo.width height=data.photo.height alt=data.photo.alt)
        if (data.textarea)
          +textarea(data.textarea, ['founders__textarea'])